@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ESTILOS GENERALES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Lemon', serif;
}

 a {
  text-decoration: none;
  color: black;
}

/* NAV */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem 1rem;
  justify-content: space-between;
  z-index: 20;
  box-shadow: 6px 5px 10px 1px black ;
}

nav > div {
  display: flex;
  align-items: center;
  width: max-content;
}

.logo {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 .2rem;
}

.titulo-logo {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Lemon';
  margin-right: 1rem;
}

nav > ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
  gap: .8rem;
  font-size: 1rem; 
  width: max-content;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

ul > li > a:hover{
  font-weight: 700;
  color:#3E3EF4;
}

nav > button {
  display: flex;
  flex-grow: 0;
  width: min-content;
  padding: 0 2%;
  justify-content: center;
  border-radius: 1rem;
  height: 1.5rem;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  font-family: 'Lemon', serif;
}

nav > button:hover {
  border: transparent;
  background-color: #3E3EF4;
  color: white;
  box-shadow: 6px 5px 10px 1px #0000008b;
  transition-duration: .5s;
}


/* CAROUSEL */

.slider-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  aspect-ratio: 16/7;
  box-shadow: inset 0 100px 1px 0 black, inset 0 -5px 10px 0 black;
}

.slider-box > ul {
  display: flex;
  width: 300%;
  animation: slide 10s infinite alternate ease-in-out;
}

.slider-box li {
  width: 100%;
  list-style: none;
  position: relative;
}

.texto {
  position: absolute;
  text-align: center;
  padding: 0 10rem;
  top: 10%;
  color: white;
}

.texto h2 {
  font-size: 300%;
  margin-bottom: 2rem;
}

.slider-box img {
  width: 100%;
}

@keyframes slide {
  0% { margin-left: 0%;}
  20% { margin-left: 0%;}

  40% { margin-left: -100%;}
  60% { margin-left: -100%;}

  80% { margin-left: -200%;}
  100% { margin-left: -200%;}
}

/* MAIN */

main {
  padding: 2% 5%;
}

main > section:nth-child(1) {
  display: flex;
  padding: 2% 0;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  padding: 1% 10%;
}

hr {
  margin: 4% 0;
}

/* MISION Y VISION*/

.mision_vision {
  display: flex;
  gap: 5%;
  margin-bottom: 5%;
}

.mision_vision h2 {
  text-align: center;
  font-size: 200%;
  margin-bottom: 4%;
  color: #3E3EF4;
}

.mision_vision img {
  width: 40%;
  aspect-ratio: 13/9;
}

/* GRUPO DE IMAGENES */

.grupo_imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grupo_imagenes > div {
  display: flex;
  width: 100%;
  justify-content: center;
  line-height: 2rem;
  font-size: 2rem;
  height: 2rem;
  overflow: hidden;
  margin-bottom: 2%;
}

.grupo_imagenes h3 {
  text-align: center;
  margin-bottom: 2%;
  font-size: 2rem;
}

.grupo_imagenes img {
  margin: 1%;
}

/* PALABRA CAMBIANTE */

.grupo_imagenes > div > ul {
  list-style: none;
  padding-left: 10px;
  font-family: 'Lemon', serif;
  animation: cambiar 9s infinite alternate ease-in-out;
  color: #3E3EF4;
}

@keyframes cambiar {
  0%{margin-top: 0;}
  20%{margin-top: 0;}

  40%{margin-top: -2rem;}
  60%{margin-top: -2rem;}

  80%{margin-top: -4rem;}
  100%{margin-top: -4rem;}
  }

/* PRE-FOOTER */

.pre-footer{
  display: flex;
  margin-top: 5%;
  gap: 5%;
}

.pre-footer p{
  margin: 5% 0;
}

.pre-footer p span{
  font-weight: 700;
}

.logos-svg {
  width: 2rem;
}

footer{
  display: flex;
  flex-wrap: wrap;
}

footer div {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.politicas {
  display: flex;
  width: 100%;
}

.politicas > p{
  display: flex;
  width: 100%;
  justify-content: center;
}