body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.contacto-whatsapp a {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.contacto-whatsapp a img{
  height: 70px;
  width: 70px;
}

.contacto-whatsapp a img:hover {
  height: 75px;
	width: 75px;
}

/* Encabezado */


/* PALABRA CAMBIANTE */

div.contenedor-palabra-d{
  margin-top: 50px;
}

.contenedor-palabra{
  width: 300px;
  height: 40px;
  color: #ff0000;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  position: relative;
 top: 0px;
 right: 0px;
 left: 0px;
 bottom: 0px;
 margin: auto;
 overflow: hidden;
 width: auto;
 justify-content: center;
 z-index: 2;
}

ul.cambio{
  list-style: none;
  padding-left: 10px;
  animation: cambiar 7s infinite;
  z-index: 2;
}



@keyframes cambiar {
  0%{margin-top: 0px;}
  20%{margin-top: 0px;}

  25%{margin-top: -40px;}
  50%{margin-top: -40px;}

  55%{margin-top: -80px;}
  80%{margin-top: -80px;}

  85%{margin-top: -40px;}
  95%{margin-top: -40px;}

  100%{margin-top: 0px;}
}

/* PALABRA CAMBIANTE */

/* BARRA DE NAVEGACION */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 5px #00000088;
}

nav>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  height: min-content;
}

nav a{
  text-decoration: none;
  color: black;
}

nav img{
  height: 3rem;
}

.talleres{
  display: none;
  position: absolute;
  list-style: none;
  background-color: white;
  width: 11rem;
  height: 7rem;
  border-radius: 5%;
  border: solid 1px  ;
}

nav>ul>li:hover{
  .talleres{
    display: block;
  }
}



/* BOTON PRINCIPAL */

.contenedor{
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.butons{
  width: 100%;
  height: auto;
  background-color: #ff000000;
  border-radius: 15px;
  border: none;
  padding: 12px 15px;
  color: rgba(255, 0, 0, 0);
  margin: 16px 0;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.boton{
  position: relative;
  z-index: 4;
  border: 0px solid transparent;
  background-color: transparent;
}

.butons:hover{
  box-shadow: 0px 0px 5px #00000088;
}

.butons:hover::before{
  content: "";
  position: absolute;
  top: -40px;
  /* align-items: center;
  justify-content: center; */
  height: 150px;
  width: 150px;
  background-image: conic-gradient(rgb(55, 51, 245) 20deg, transparent 120deg);
  animation: rotar 3s linear infinite;
}



@keyframes rotar{
  from{
      transform: rotate(-360deg);
  }

  to{
      transform: rotate(360deg);
  }
}

.butons::after{
  content: "";
  position: absolute;
  top: 1.5px;
  justify-content: center;
  height: 47px;
  width: 125px;
  background-color: #F8F9FA;
  border-radius: 20%;
}





/* CARRUSEL */

  .slider{
    display: flex;
    margin: 0px;
    padding: 0px;
  }
  /* .slider ul{
    display: flex;
    animation: cambio 25s infinite
    alternate linear;
    width: 400%;
  } */


  @keyframes cambio {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    40%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
  }

  /* Estilos para los textos y elementos --->*/
  h2 {
    color: #212529;
    text-align: center;
  }

  li{
    font-family: 'garamond';
  }

  p {
    color: #212529;
    font-family: 'garamond';
  }

    /* <---Estilos para los textos y elementos */

  /* Estilo Section*/

  section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f8f9fa;
  }

  .titulo-s1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #4C5166;
  }

  .primera-seccion{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    margin-top: 50px;
  }

  .sub-1{
    margin-right: 100px;
    height: 100%;
    width: 150%;
    font-size: 18px;
    font-weight: 800;

  }

  .sub-2{
    width: 200%;
    margin-right: 100px;
    align-items: center;
    text-align: justify;
  }

  .sub-2 img{
    height: 100%;
    width: 100%;
  }

  div.sub-3 h1{
    text-align: center ;
    font-family: 'calibri';
    color: #6161de;
  }

  .sub-3{
    font-family: 'garamond';
    font-size: 18px;
    text-align: justify;
  }

  div.sub-4 h1{
    text-align: center ;
    font-family: 'calibri';
    color: #6161de;
  }

  .sub-4{
    font-family: 'garamond';
    font-size: 18px;
    margin-right: 80px;
    text-align: justify;
  }

  .texto-bienvenida{
    font-family: 'garamond';
    font-size: 22px;
    padding: 30px;
  }

  .texto-bienvenida span{
    color: rgb(35, 164, 149);
  }

  .parrafo-medio{
    font-size:20px;
    font-weight: 600;
    color: #4C5166;
    justify-content: center;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0)fff;
  }

  .bloque-imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    }


    .seccion-tres{
      display: flex;
      margin: 50px;
    }

    .parrafo-dos{
      position: relative;
      text-align: justify;
    }

    .parrafo-dos span{
      font-weight: 900;
    }

    .sub{
      color: #23A495;
    }



    .video{
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-left: 50px;
    }
    /* ESTILO FOOTER */

    .footer{
      background-color: #dadce0a3;
      background-repeat: no-repeat;
      background: cover;
      background-attachment: fixed;
      width: auto;
      height: 100%;
      box-shadow: 0px 10px 15px #000000;
    }



    .footer a{
      text-decoration: none;
      color: black;
    }

    .footer .container-seccion{
      justify-content: center;
    }

    .social-icons{
      display: flex;
      flex-direction: column;
    }


    div.seccion-de-arriba{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 50px;
      padding-left: 100px;
      padding-right: 100px;
    }


    div.seccion-de-abajo{
      background-color: rgba(255, 255, 255, 0);
      justify-content: center;
      display: flex;
      text-align: center;
    }

    .container-seccion img{
      width: 60%
    }


