

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  .contacto-whatsapp a {
    position: fixed;
    right: 15px;
    bottom: 15px;
  }
  .contacto-whatsapp a img{
    height: 70px;
    width: 70px;
  }
  
  .contacto-whatsapp a img:hover {
    height: 75px;
      width: 75px;
  }
  
  /* Encabezado */
  
  
  /* PALABRA CAMBIANTE */
  
  div.contenedor-palabra-d{
    margin-top: 50px;
  }
  
  .contenedor-palabra{
    width: 300px;
    height: 40px;
    color: #ff0000;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    position: relative;
   top: 0px;
   right: 0px;
   left: 0px;
   bottom: 0px;
   margin: auto;
   overflow: hidden;
   width: auto;
   justify-content: center;
   z-index: 2;
  }
  
  ul.cambio{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
    z-index: 2;
  }
  
  
  
  @keyframes cambiar {
    0%{margin-top: 0px;}
    20%{margin-top: 0px;}
  
    25%{margin-top: -40px;}
    50%{margin-top: -40px;}
  
    55%{margin-top: -80px;}
    80%{margin-top: -80px;}
  
    85%{margin-top: -40px;}
    95%{margin-top: -40px;}
  
    100%{margin-top: 0px;}
  }
  
  /* PALABRA CAMBIANTE */
  
  /* Barra de Navegacion */
  
  div.container-fluid{
    padding-left: 50px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px #201e1e;
  }
  
  .navbar {
      background-color: #f8f9fa;
      padding-left: 100px;
    }
  
  .container-fluid a img{
    height: 50px;
    width: 51px;
  }
  
  .container-fluid a img:hover{
    zoom: 105%;
  }
  
  .empresa-padre{
    display: flex;
  flex-direction: row;
  text-decoration: none;
  }
  
  
  h1.empresa {
    color: #ffffff00;
    font-family: 'calibri';
    font-size: 29px;
    padding-top: 5px;
    padding-left: 8px;
    text-shadow: 1px 4px rgb(27, 27, 27);
    display:flex;
     position: relative;
  }
  
  h1.empresa span{
    width: 0px;
    border-left: 0px solid #000;
    right: 0px;
    position: absolute;
    background-color:  #F8F9FA;
    
    animation: maquina 8s infinite alternate;
  }
  
  @keyframes maquina {
    from { width: 94%;
    }
    
    to {
      width: 0%;
    }
  }
  
  .nav-item-menu a{
    font-size: 600;
    color:#212529;
    margin-left: 30px;
  }
  
  .nav-item-menu a:hover{
    color:burlywood;
    zoom: 102%;
  }
  
  .nav-item a{
    font-size: 600;
    color:#212529;
    margin-left: 10px;
  }
  
  .nav-item a:hover{
    color:burlywood;
    zoom: 102%;
  }
  
    .nav-link {
      color: #212529;
    }
  
    .d-flex{
      margin-right: 50px;
    }
  
   
  
    .d-flex button:hover{
      font-weight: 600;
    }
  
    .dropdown-item {
      list-style: none;
      display: inline-block;
      margin: 0 10px;
      position: relative;
  }
  
  .dropdown-item:hover::before{
      width: 100%;
  }
  
  .navbar ul li a{
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-family: Roboto, "sans-serif";
      font-size: 1.2rem;
  }
  
  .navbar ul li::before{
      content:"";
      height: 50px;
      width: 0%;
      background: rgb(0, 85, 255);
      position: absolute;
      left: 0px;
      bottom: -12px;
      transition: 0.4s ease-out;
  }
  
  
  
  /* BOTON PRINCIPAL */
  
  
  .contenedor{
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .butons{
    width: 100%;
    height: auto;
    background-color: #ff000000;
    border-radius: 15px;
    border: none;
    padding: 12px 15px;
    color: rgba(255, 0, 0, 0);
    margin: 16px 0;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 5px #00000088; */
  }
  
  .boton{
    position: relative;
    z-index: 4;
    border: 0px solid transparent;
    background-color: transparent;
  }
  
  .butons:hover{
    box-shadow: 0px 0px 5px #00000088;
  }
  
  .butons:hover::before{
    content: "";
    position: absolute;
    top: -40px;
    /* align-items: center;
    justify-content: center; */
    height: 150px;
    width: 150px;
    background-image: conic-gradient(rgb(55, 51, 245) 20deg, transparent 120deg);
    animation: rotar 3s linear infinite;
  }
  
  
  
  @keyframes rotar{
    from{
        transform: rotate(-360deg);
    }
  
    to{
        transform: rotate(360deg);
    }
  }
  
  .butons::after{
    content: "";
    position: absolute;
    top: 1.5px;
    justify-content: center; 
    height: 47px;
    width: 125px;
    background-color: #F8F9FA;
    border-radius: 20%;
  }
  
  
  
  /* BOTON PRINCIPAL */
  
    /* Estilos Carrusel */
    .slider{
      width: 100%;
      height: 700px;
      overflow: hidden;
    }
  
    .slider ul{
      display: flex;
      animation: cambio 25s infinite
      alternate linear;
      width: 400%;
    }
    
    .slider li{
      width: 150%;
      list-style: none;
    }
  
    .slider img{
      width: 100%;
      height: 100%;
    }
  
    @keyframes cambio {
      0%{margin-left: -2.5%;}
      20%{margin-left: -2.5%;}
  
      25%{margin-left: -100%;}
      40%{margin-left: -100%;}
  
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
  
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
    }
  
    /* Estilos para los textos y elementos --->*/
    h2 {
      color: #212529;
      text-align: center;
    }
    
    li{
      font-family: 'garamond';
    }
  
    p {
      color: #212529;
      font-family: 'garamond';
    }
  
      /* <---Estilos para los textos y elementos */
    
        /* Cuerpo */

        .bloque-imagenes h1{
          text-align: center;
          margin-bottom: 100px;
        }

        .bloque-imagenes{
          display: flex;
          margin: 50px;
          flex-wrap: wrap;
          justify-content: center;
          padding-top: 100px;
        }  

        .bloque-imagenes .bloque-uno {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #ff000000;
          width: 650px;
          height: auto;
          margin: 10px;
          margin-bottom: 100px;
          justify-content: center;
          overflow: hidden;
          border: 2px solid #3e3ef4c7;
          border-radius: 5%;
          padding: 50px;
        }

        

        img.img-1{
          width: 300px;
          height: 300px;
        }

        img.loguito{
          width: 80%;
          padding-bottom: 20px;
        }

        .bloque-uno span{
          font-weight: 600;
          font-family: 'Roboto slab';
        }

        .bloque-uno p{
         text-align: center;
        }

        .bloque-uno iframe{
          border-radius: 5%;
        }
        

        .super-boton{
          margin-top: 40px;
          border: 0px;
          background-color: #ffffff;
          border-radius: 8px;
          color: #000000;
          display: flex;
          font-size: 18px;
          padding: 4px;
          cursor: pointer;
          transition: 0.3s;
        }
        
        .super-boton span{
          background-color: #FFBD59;
          padding: 16px 24px;
          border-radius: 6px;
          transition: 0.3s;
          font-family: 'Calibri';
        }

        .super-boton:hover span{
          background: none;
          border: 1px solid;
        }

        .super-boton:active{
          transform: scale(0.9);
        }


      /* ESTILO FOOTER */
  
      .footer{
        background-color: #dadce0a3;
        background-repeat: no-repeat;
        background: cover;
        background-attachment: fixed;
        width: auto;
        height: 100%;
        box-shadow: 0px 10px 15px #000000;
      }
      
  
  
      .footer a{
        text-decoration: none;
        color: black;
      }
      
      .footer .container-seccion{
        justify-content: center;
      }
  
      .social-icons{
        display: flex;
        flex-direction: column;
      }
      
      
      div.seccion-de-arriba{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
      }
      
      
      div.seccion-de-abajo{
        background-color: rgba(255, 255, 255, 0);
        justify-content: center;
        display: flex;  
        text-align: center;
      }
  
      .container-seccion img{
        width: 60%
      }
  
      
  